<p id="notice"><%= notice %></p>
<div class="complaints">
<h1><%= @complaint.plot %></h1>
</div>
<p><%= @complaint.message %></p>
<p><%= @complaint.name %></p>
<p><%= @complaint.created_at %></p>

<%= link_to 'Edit', edit_complaint_path(@complaint) %> |
<%= link_to 'Back', complaints_path %>
