<p id="notice"><%= notice %></p>
<%= @complaint.name %>
<%= @complaint.plot %>
<%= @complaint.message %>
<%= @complain.timestamp %>

<%= link_to 'Edit', edit_complaint_path(@complaint) %> |
<%= link_to 'Back', complaints_path %>
