<p id="notice"><%= notice %></p>
<div class="complaints">
<h1><%= @complaint.plot %></h1>


  

  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">See Complaint</button>
  <div id="demo" class="collapse">
  <p><%= @complaint.message %></p>
<div>
  <p><%= @complaint.name %></p>
<p><%= @complaint.created_at %></p>
</div>
    
  </div>

 <% if user_signed_in? %>

<%= link_to 'Edit', edit_complaint_path(@complaint) %> |
<%= link_to 'Back', complaints_path %>
<% end %>












