<%= form_with(model: emergency, local: true) do |form| %>
  <% if emergency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(emergency.errors.count, "error") %> prohibited this emergency from being saved:</h2>

      <ul>
      <% emergency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
   <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.label :description %>
    <%= form.text_field :description %>
    
    <%= form.submit %>
  </div>
<% end %>
