
<!-- <div><%= link_to "Make complaints", complaints_path %></div>
<div><%= link_to "Report Maintanance issues", maintanances_path %></div>
<div><%= link_to "Package Notification", notifications_path %></div>
<div><%= link_to "Bill pay", saccos_path %></div>
<div><%= link_to "Emergency Information", emergencies_path %></div> -->


   
	<div class="row">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div class="container">
  <div class="row ">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- bootsnipp Circle Menu -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5715866801509976"
     data-ad-slot="3922266447"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br>
<br>
    <div class="col-lg-12">
      <div>


        <div class="col-md-4">
          <div class="profile-card text-center">

            <img class="img-responsive" src="https://i.pinimg.com/736x/31/c9/ba/31c9bafee45891632f30a2f1d021df92--roof-leak-home-repair.jpg">
            <div class="profile-info">

              <img class="profile-pic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuvAtw-FEuD4_gnegSBDPHLmUUrw8uw6G1X7ydCzjf2yXWfUnf">

              <h2 class="hvr-underline-from-center">Make Complains</h2>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
          
              <a href="mailto:michael_y@live.co.uk"><i class="fa fa-envelope-o fa-2x"></i></a>
             
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="profile-card text-center">

            <img class="img-responsive" src="https://maxcdn.icons8.com/Share/icon/nolan/User_Interface//maintenance1600.png">
            <div class="profile-info">

              <img class="profile-pic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOnH6pFqjdI0PnRJUBcFVHWmn_L6DyAyvLGmrt7FOihyEmPYWbAA">

              <h2 class="hvr-underline-from-center">Report maintanance issues</h2>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
             
              <a href="mailto:michael_y@live.co.uk"><i class="fa fa-envelope-o fa-2x"></i></a>
              
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="profile-card text-center">

            <img class="img-responsive" src="http://uwf.edu/media/university-of-west-florida/offices/student-affairs/counseling--psychological-services/emergency_services.jpg">
            <div class="profile-info">

              <img class="profile-pic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSimNyZJL3w1I2yO_DUSBksrW7EZIaYO272vqN3YSYfbCSKEOw6vA">

              <h2 class="hvr-underline-from-center">Report maintanance issues</h2>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
             
              <a href="mailto:michael_y@live.co.uk"><i class="fa fa-envelope-o fa-2x"></i></a>
              
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="profile-card text-center">

            <img class="img-responsive" src="https://lh3.ggpht.com/sRR40-a4tqsv-xhOxdonD4sYVNXppd7L-a-w5d_dW47QifShnwDKber4Nzb8qocnT30=w300">
            <div class="profile-info">

              <img class="profile-pic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTp-m6DWbovdBSA2P5QyYnsbtvGywWPOp7uuFwxGExLrb8RKaKu">

              <h2 class="hvr-underline-from-center">Notifications<span>get to view notifications</span></h2>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
             
              <a href="mailto:michael_y@live.co.uk"><i class="fa fa-envelope-o fa-2x"></i></a>
              
            </div>

          </div>

        </div>


      </div>
    </div>
  </div>
</div>
	</div>
</div>