<h1>Faiba Houseware</h1>
<div><%= link_to "make complaints", complaints_path %></div>
<div><%= link_to "Report Maintanance issues", maintanances_path %></div>
<div><%= link_to "Package Notification", notifications_path %></div>
<div><%= link_to "Bill pay", saccos_path %></div>
<div><%= link_to "Emergency Information", emergencies_path %></div>
<button>victor</button>





