<p id="notice"><%= notice %></p>

<h1>Saccos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @saccos.each do |sacco| %>
      <tr>
        <td><%= link_to 'Show', sacco %></td>
        <td><%= link_to 'Edit', edit_sacco_path(sacco) %></td>
        <td><%= link_to 'Destroy', sacco, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sacco', new_sacco_path %>
