<p id="notice"><%= notice %></p>

<h1>Maintanances</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maintanances.each do |maintanance| %>
      <tr>
     
     <p> <%= link_to maintanance.name, maintanance %></p>
      <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_maintanance_path(maintanance) %></td>
        <td><%= link_to 'Destroy', maintanance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
 <% if user_signed_in? %>
<%= link_to 'New Maintanance', new_maintanance_path %>

  <% end %>





