<p id="notice"><%= notice %></p>
<%= @maintanance.name %>
<%= @maintanance.area %>
<%= @maintanance.problem %>
<%= @maintanance.created_at %>

<%= link_to 'Edit', edit_maintanance_path(@maintanance) %> |
<%= link_to 'Back', maintanances_path %>
