<!DOCTYPE html>
<html>
  <head>
    <title>Landlord</title>
    <meta charset="UTF-8"> <meta name=viewport content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified CSS -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
  <nav>
    <div class="nav-wrapper" id="navnav">
     

      
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "<i class='material-icons'>home</i>".html_safe, root_path%></li>
        
      

        <% if user_signed_in?%>

        <li> <%= link_to "logout", destroy_user_session_path, method: :delete%></li>
        <li><%= link_to "edit", edit_user_registration_path %></li>
        <% else %>
        <li> <%= link_to "login", new_user_session_path %></li>
        <li> <%= link_to "signup", new_user_registration_path %></li>

        <%end%>

      </ul>
    </div>
  </nav>
  <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
    <%= yield %>
       </body>

</html>



